@use "vendors/reset";
@use "fonts";
@use "colors";

html,
body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  user-select: none;
  background-color: var(--c-white);
  color: var(--c-black);
  overscroll-behavior: none;
  font-size: 12px;
  line-height: 130%;
}

h2, h3 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 24px;
}

a,
button {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}